<div class="grid grid-cols-1 grid-rows-[70px_1fr] h-screen">
  <div class="flex justify-center items-center gap-10">
    <input (change)="onChangeLoad($event)" type="file" id="fileinput" />

    <!-- <button nz-button nzType="primary" [nzSize]="'large'" class="bg-[#2B569A] text-base flex items-center"
      (click)="onClickLoad()">
      <span nz-icon nzType="form" nzTheme="outline"></span>
      Load Cv Template
    </button> -->
    <button nz-button nzType="primary" [nzSize]="'large'" class="bg-[#2B569A] text-base flex items-center"
      (click)="bind()">
      <span nz-icon nzType="download"></span>
      Replace tags
    </button>
    <button nz-button nzType="primary" [nzSize]="'large'" class="bg-[#2B569A] text-base flex items-center"
      (click)="onClickSaveAsPdf()">
      <span nz-icon nzType="download"></span>
      Download Pdf
    </button>
    <button nz-button nzType="primary" [nzSize]="'large'" class="bg-[#2B569A] text-base flex items-center"
      (click)="onClickSaveAsdoc()">
      <span nz-icon nzType="download"></span>
      Download Docx
    </button>
    <button nz-button nzType="primary" [nzSize]="'large'" class="bg-[#2B569A] text-base flex items-center"
      (click)="onClickSaveAshtml()">
      <span nz-icon nzType="download"></span>
      Download Html
    </button>


    <button nz-button nzType="primary" [nzSize]="'large'" class="bg-[#2B569A] text-base flex items-center"
      (click)="loadDocument1()">
      <span nz-icon nzType="download"></span>
      Load HTML
    </button>

  </div>
  <div class="flex shadow-md m-6 flex-1 h-full">
    <tx-document-editor width="100%" height="100%" [documentTargetMarkers]="false"
      webSocketURL="wss://backend.textcontrol.com/TXWebSocket?access-token=ZyALSPk7WXM66LZlPuHP">
    </tx-document-editor>
  </div>

</div>